/* 1. Logo animation */
@keyframes show_logo {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation-name: show_logo;
    animation-duration: 5s;
}

/* 2. Body font & background */
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* 3&4. Header & nav_links flex style */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

/* 5. Visited links color ??? */
a:visited {
    color: blue;
}

/* 6. Card header style */
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* 7&8. Pricing & card flex style */
.card {
    border-top-left-radius: 50px; /* for step 6 */
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px; /* specify the initial length of a flex item, 
    width if `flex-direction: row`!!! */
}

.pricing {
    display: flex;
    flex-direction: row; /* This is an amazing design! */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* 9. Images in gallery style */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* 10. Gallery flex style */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (min-width: 900px) {

    /* 11. New header style */
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        flex-direction: row;
    }

    /* 12. New pricing & card style */
    /* no need to modify pricing class */
    .card {
        flex-basis: 275px;
    }

    /* 13. Header remains visible */
    body > header {
        position: sticky;
        top: 0;
    }
}


/* 14. Disable animation */
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}


@media print {
    
    /* 15&16. Change font & remove background image */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* 17. Edit nav & nav_links style */
    nav {
        width: 100%; /* let the navigation bar take up the whole line */
    }
    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    /* 18&19. Edit pricing & card style */
    .pricing {
        flex-wrap: nowrap; /* allow the cards to shrink and fit into one line */
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* 20. Hide gallery part */
    #gallery, .gallery * {
        /* display: none; */
        visibility: hidden;
    }

    .gallery * {
        display: none;
    }

    /* 21. Add thumbs up entity */
    .card li:nth-child(2):after {
        content: '\1F44D';
    }
}
